html,body{
    height: 100%;
    overflow: hidden;
}
body{
    background-image: url('../img/bg_1.jpg');
    color: white;
    background-size: cover;/*平铺图片*/
} 
.ui-index{
    text-align: center;
    position: absolute;
    width: 100%;
    top:50%;
    margin-top: -142px;
    transform: translateY(-50%);/*垂直居中*/
}
.ui-index h1{
    font-size: 50px;
    text-shadow: 2px 8px 2px black;
} 
.ui-index .btn{
    display: block;
    color: white;
    font-size: 20px;
    background: none;
    border: 1px solid #999;
    border-radius: 6px;
    width: 140px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}
.ui-index,.ui-about,.ui-setting{
    display: none;
}
[data-status="index"] .ui-index{
    display: block;
}
[data-status="about"] .ui-about{
    display: block;
}
[data-status="setting"] .ui-setting{
    display: block;
}